.postContainer {
  align-items: center;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: #ffffff;
}

.card .date {
  font-size: 0.7rem;
  color: #000000;
  margin-bottom: 10px;
}

.card .card-text {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 20px;
}

.container_images {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  max-width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.img-fluid {
  border-radius: 10px;
}

.d-flex {
  justify-content: space-between;
  align-items: center;
}

.d-flex .btn {
  margin-right: 10px;
}

.custom-like-button .like-button span {
  margin-left: 5px;
}
